# Entornos virtuales
env_tfg/

# Cache y archivos compilados de Python
__pycache__/
*.pyc

# Configuraciones del editor
.vscode/

# Archivos temporales
datos/borradores_pliego/borrador_actual.json

# Variables de entorno
.env
